* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    /* background-color: #dd0f0f; */
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    background-color: black;
}

.left {
    width: 365px;
    margin: 6px;
    margin-left: 7px;
    margin-right: 0;

}

.right {
    width: 75vw;
    margin: 6px;
    background-color: #121212;
    border-radius: 12px;
    position: relative;
    height: 98vh;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 110px;
    margin-top: -10px;
}

.logo #cross {
    width: 25px;
    display: none;
}

.home {
    background-color: #121212;
    /* background-color: orange; */
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.home ul li {
    display: flex;
    list-style: none;
    width: 23px;
    gap: 25px;
    margin-top: 15px;
    font-size: 16px;
    /* color: #838383; */
    color: white;
}

.library {
    background-color: #121212;
    /* background-color: orange; */
    border-radius: 12px;
    padding: 18px 15px;
    /* todo: recheck for gap between two card, for a minute im here work with mt : 10px*/
    margin-top: 10px;
}

.library-inside {
    justify-content: space-between;
}

.library .head {
    gap: 25px;
    font-size: 16px;
    color: #838383;
    color: white;
    font-weight: 600;
    /* todo: equal the height diffrence of both img and tag */
}

.library img {
    width: 24px;
}


/* css for songs to be added */
.list-of-songs {
    padding: 18px 10px;
    color: white;
    height: 28vh;
    overflow-y: auto;

}

.list-of-songs ul li {
    list-style: decimal;
    margin: 4px;
    margin-bottom: 8px;

}

.song-card {
    /* background-color: #000000; */
    border: 1px solid white;
    height: 6vh;
    padding: 10px 12px;
    gap: 32px;
    border-radius: 8px;
    font-size: 13.5px;
    cursor: pointer;
}

.song-card img {
    margin-left: 10px;
    width: 30px;
}

.poster {
    position: relative;
}

.poster .song-play {
    position: absolute;
    left: 2px;
    top: 20px;
    opacity: 0;
    width: 24px;
    fill: #1ed760;
}

.song-card:hover {
    background-color: #3634344d;
}

.song-card:hover .poster .song-play {
    transition: all 0.3s ease-out;
    top: 10px;
    opacity: 1;
}

.current {
    background-color: #3634348c;
}

.current .poster .song-play {
    opacity: 0;
    transition: all 0.3s ease-out;
    top: 10px;
    opacity: 1;
}

.card1,
.card2 {
    background-color: #242424;
    /* background-color: orange; */
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 8px;
    color: white;
    padding: 11px 15px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 600;
}

.card1 div,
.card2 div {

    /* todo */
    margin-top: 3px;
}

.card1 :nth-child(2) {
    font-size: 14px;
}

.card1 button,
.card2 button {
    border-radius: 12px;
    padding: 4px 9px;
    box-shadow: none;
    color: black;
    font-weight: 600;
    border: none;
    /* todo */
    margin-top: 10px;
    cursor: pointer;
}

.cookies {
    margin-top: 8px;
}

.cookies a {
    color: #848080;
    font-size: 13px;
}

.english-btn {
    background-color: #12121200;
    box-shadow: none;
    border-radius: 17px;
    color: white;
    font-size: 15px;
    margin-left: 9px;
    margin-top: 10px;
    padding: 5px 11px;
    border: 1px solid rgba(255, 255, 255, 0.527);
    cursor: pointer;

}

/* right part start */
.right .arrows {
    gap: 10px;
}

.right .arrows img {
    background-color: #020202;
    border-radius: 23px;
    padding: 4px;
    width: 23px;
}

#humburger {
    background-color: rgba(255, 255, 255, 0);
    display: none;
}

.nav-head {
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #090909;

    border-radius: 13px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 32px;

}

.button {
    gap: 40px;
}

.signup {
    font-size: 16px;
    background-color: #10101000;
    color: #929292;
    border-radius: 23px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.signup:hover {
    color: white;
    font-size: 16.5px;

}

.log-in {
    font-size: 16px;
    background-color: #f6f3f3;
    color: #000000;
    border-radius: 30px;
    border: none;
    padding: 7px;
    height: 45px;
    width: 95px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;

}

.log-in:hover {
    font-weight: bold;
    height: 46px;
    width: 96px;

}

.spotifyPlaylist {
    background-color: #121212;
    color: white;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
}

.playlistUL {

    gap: 12px;
    flex-wrap: wrap;
    max-height: 66vh;
    overflow-y: auto;
    overflow: auto;
    margin-left: 10px;
    margin-top: 28px;
    list-style: none;
}

.playlist-card {
    background-color: #181818;
    width: 200px;
    padding: 10px;
    border-radius: 13px;
    /* margin-top: 18px; */
    position: relative;
    z-index: 1000;
}

.playlist-card img {
    object-fit: contain;
    width: 100%;
    /* border-radius: 13px; */
}

.playlist-card h2 {
    margin: 4px 2px;
    font-size: 20px;
    font-weight: 600;
}

.playlist-card p {
    margin: 2px;
    font-size: 14px;
    font-weight: lighter;
}

.playlist-card .play-button {
    position: absolute;
    width: 36px;
    background-color: #1ed760;
    border-radius: 23px;
    padding: 1px;
    top: 147px;
    right: 25px;
    opacity: 0;
}

/* .play-button:hover{
    transition: all 1s ease-out;
    opacity: 1;
    top: 134px;
} */
.playlist-card:hover .play-button {
    transition: all 0.6s ease-out;
    opacity: 1;
    top: 127px;
}

.playlist-card:hover {
    transition: all 0.2s ease-out;
    background-color: #272727;

}

.music-player {
    position: fixed;
    bottom: 10px;
    width: calc(100vw - 390px);
    margin-left: 3.5px;
    background: #242424;
    justify-content: center;
    border-radius: 13px;
    min-width: 360px;
    height: 100px;
    z-index: 2000;
    /* left: 394px; */
}

.music-btn {
    gap: 14px;
}

.music-btn img {
    width: 29px;
    margin: 8px 0px;
    margin-bottom: 15px;
    cursor: pointer;
}

.play-box {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-evenly;

}

.song-name,
.song-duration {
    margin-top: 10px;
}

.song-name {
    width: 200px;
    min-width: auto;
}

.play-bar {
    width: 60%;
    height: 4px;
    border: 1px solid rgba(205, 4, 4, 0);
    position: absolute;
    border-radius: 11px;
    bottom: 8px;
    background-color: #000000;
    background-color: white;
    cursor: pointer;


}

.play-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 1px;
    top: -6px;
    transition: left 0.3s ease-in;
    outline: 1px solid white;
    border-radius: 23px;
    background-color: #090909;
    /* border: 1px solid black; */
}

.creator button {
    position: absolute;
    right: 110px;
    bottom: 130px;
    border-radius: 18px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #242424;
    background-color: #1DB954;
    color: black;
    cursor: pointer;
    border: none;
    z-index: 10000;
}

.creator .profile {
    position: absolute;
    right: 3px;
    opacity: 0;
    bottom: 130px;
    width: 250px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.608);
    background-color: #121212;
    border-radius: 7px;
}

#crossbtn {
    position: absolute;
    right: 0;
    padding: 4px;
}

#profile-img {
    position: absolute;
    left: 76px;
    top: 30px;

    width: 100px;
    outline: 0.1px solid rgba(255, 255, 255, 0.122);
    border-radius: 100px;
    align-items: center;
}

.name {
    position: absolute;
    left: 95px;
    top: 145px;
    font-weight: 500;
    color: white;
}

.image1 {
    display: flex;
    flex-direction: row;
    margin: 0;
    position: absolute;
    /* flex-wrap: wrap; */
    top: 185px;
    gap: 15px;
    left: 60px;
    width: 150px;
}

.a-img {
    width: 35px;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        /* left: 0; */
        transition: left .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        left: -430px;
        z-index: 100000;
        background-color: #121212ef;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    #humburger {
        display: inline;
        cursor: pointer;
    }

    .logo #cross {
        display: inline;
        cursor: pointer;
    }

    .play-box {
        /* justify-content:center; */
        font-size: 11px;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        margin: 0;
        padding: 0;
    }


    .song-name {
        width: 100px;
    }

    .song-card {

        font-size: 11.5px;
    }

    .music-player {
        width: calc(100vw - 20px);
    }

    .playlist-card {
        width: 30vw;
    }

    .song-duration {
        position: relative;
        bottom: 23px;
    }

    .song-name {
        width: auto;
        font-size: 16px;
    }
}

@media (max-width : 550px) {

    /* .playlist {
        /* justify-content: center; */
    /* } */
    .playlist-card {

        width: 38vw;
    }
}

@media (max-width : 435px) {

    .music-player {

        width: calc(100vw - 10px);
        margin-left: 3px;
    }

    .playlist-card {
        width: 80vw;
        margin: 0px;
        margin-left: 5px;
    }

    .playlist {
        justify-content: center;
    }

    .music-btn img {
        margin: 0;
        padding: 0;
    }

    .play-box * {

        margin: 0;
        padding: 0;
    }

    .music-player {

        height: 110px;
    }

    .song-duration {
        position: relative;
        bottom: 8px;
    }

    .song-name {
        width: auto;
        font-size: 15px;
    }

    .creator button {
        right: 50px;
        bottom: 170px;
    }

}